GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="https://your-domain.vercel.app/api/auth/google/callback"

JWT_SECRET="supersecretkey"

NEON_DATABASE_URL=""
ADMIN_GOOGLE_EMAIL="moinkhan.datori1235@gmail.com"

MANUAL_QR_IMAGE_URL="https://your-qr.com/pkr.png"
BINANCE_QR_IMAGE_URL="https://your-qr.com/binance.png"
